<!DOCTYPE html>
<html lang="en" data-theme="dark" class="dark [scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Digga" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-slate-900 dark:bg-gray-900 antialiased">
  <div class="bg-slate-900">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-14 lg:px-18 justify-end">
      <%= if @current_user do %>
        <li>
          <.link
            href={~p"/chats"}
            class="text-[18px] leading-6 text-teal-500 font-semibold hover:text-fuchsia-600"
          >
            Chat
          </.link>
        </li>
        <li class="text-[18px] leading-6 text-teal-500">
          <%= @current_user.email %>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[18px] leading-6 text-teal-500 font-semibold hover:text-fuchsia-600"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/accounts"}
            class="text-[18px] leading-6 text-teal-500 font-semibold hover:text-fuchsia-600"
          >
            Accounts
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[18px] leading-6 text-teal-500 font-semibold hover:text-fuchsia-600"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[18px] leading-6 text-teal-500 font-semibold hover:text-fuchsia-600"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[18px] leading-6 text-teal-500 font-semibold hover:text-fuchsia-600"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    </div>
    <%= @inner_content %>
  </body>
</html>
